.tomato-wrapper {
  background-color: rgb(247, 247, 247);

  .top-view {
    background-color: white;
    margin: 0 20rpx 20rpx;
    padding: 10rpx 10rpx;
    border-radius: 50rpx;

    .info {
      margin: 50rpx 100rpx;
      display: flex;
      justify-content: center;
      align-items: center;

      .avatar {
        flex: 1;
      }

      .tomato {
        flex: 2;
        text-align: center;
        font-size: 48rpx;
        color: #333;
      }
    }
  }
}
