.week-view {
  .header,
  .content {
    position: absolute;
    left: 0;
    right: 0;
  }

  .header {
    display: flex;
    font-size: small;

    .header-left {
      flex: 1;
      border-bottom: 1px solid black;
    }

    .header-right {
      flex: 7;
      display: flex;
      border-bottom: 1px solid black;

      .header-right-column {
        flex: 1;
        text-align: center;
      }
    }
  }

  .content {
    top: 80rpx;
    bottom: 1px;
    overflow: auto;

    .content-row {
      display: flex;
      height: 10%;

      .time-cell {
        flex: 1;
        font-size: 20rpx;
        text-align: end;
        color: darkgray;
        border-right: 1px solid black;
      }

      .tasks-row {
        flex: 7;
        display: flex;

        .task-cell {
          flex: 1;
          border-right: 1px solid darkgray;
          border-bottom: 1px solid darkgray;

          .task-card {
            height: 100%;
            font-size: 30rpx;
            color: white;
            background: lightcoral;
          }
        }
      }
    }
  }
}
