// https://taro-ui.aotu.io/#/docs/customizetheme

/* 改变主题变量，具体变量名可查看 taro-ui/dist/style/variables/default.scss 文件 */
$color-brand: #e93b3d;
$color-brand-light: #ef6c6e;
$color-brand-dark: #ba2f31;

/* 引入 Taro UI 默认样式 */
@import '~taro-ui/dist/style/index.scss';

page {
  background-color: whitesmoke;
  height: 100%;
}
